<footer class="site-footer h-card grid-x grid-padding-x">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper grid-x grid-padding-x">
      <div class="footer-col large-4 medium-4 cell">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col large-4 medium-4 cell">
        {%- include social.html -%}
      </div>

      <div class="footer-col large-4 medium-4 cell">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
