<ul class="social-media-list">
  {%- if site.instagram_username -%}
  <li>
    <a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}">
      <i class="fab fa-instagram"></i>
      <span class="username">{{ site.instagram_username| escape }}</span>
    </a>
  </li>
  {%- endif -%}
    
     {%- if site.twitter_username -%}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
      <i class="fab fa-twitter"></i>
      <span class="username">{{ site.twitter_username| escape }}</span>
    </a>
  </li>
  {%- endif -%}
</ul>
