.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 0;
}

.show-password label {
    position: absolute;
    left: -9999px;
    text-indent: -9999px;
}

.password-wrapper {
    position: relative;
}

.password + .unmask {
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    background: #aaa;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
}

.password + .unmask:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    background: #e3e3e3;
    z-index: 1;
    border-radius: 50%;
}

.password[type="text"] + .unmask:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 13px;
    height: 13px;
    background: #aaa;
    z-index: 2;
    border-radius: 50%;
}


.progress-indicator {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: table;
    table-layout: fixed;
}

.progress-indicator > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 1.5em;
}

.progress-indicator > li span {
    position: absolute;
    color: #e6e6e6;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: 0.05px;
    text-transform: uppercase;
}

.progress-indicator > li::before {
    content: attr(data-step);
    display: block;
    margin: 0 auto;
    background: #e6e6e6;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    margin-bottom: 0.25em;
    line-height: 1.5em;
    border-radius: 100%;
    position: relative;
    z-index: 1000;
}

.progress-indicator > li::after {
    content: '';
    position: absolute;
    display: block;
    background: #e6e6e6;
    width: 100%;
    height: 0.15em;
    top: 50%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    left: 50%;
    margin-left: 1.5em\9;
    z-index: 0;
}

.progress-indicator > li:last-child:after {
    display: none;
}

.progress-indicator > li.is-complete {
    color: #1779ba;
}

.progress-indicator > li.is-complete::before, .progress-indicator > li.is-complete::after {
    color: #fefefe;
    background: #1779ba;
}

.progress-indicator > li.is-complete span {
    color: #1779ba;
}

.progress-indicator > li.is-current {
    color: #4eabe9;
}

.progress-indicator > li.is-current::before {
    color: #fefefe;
    background: #4eabe9;
}

.progress-indicator > li.is-current span {
    color: #4eabe9;
}

.or-divider {
    position: relative;
    margin: 1.5rem 0px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 0px;
    border: 1px solid #e6e6e6;
}

.or-divider span {
    color: #8a8a8a;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -12px;
    background-color: #fefefe;
    padding: 0 8px;
}
